@{
    ViewBag.Title = "Portafolio Samuel Ornelas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bienvenido, es necesario iniciar sesion para acceder a las funciones de administrador.</p>
